
/* geral */

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
}

.background-purple {
    background: linear-gradient(135deg, #7a35e8, #954dfc);
}

.text-purple {
  color: #8c45f7;
}


/* ---Index--- */


/* Navbar */

.background-navbar {
  background-color: #efefef;
}

.nav-link {
  text-decoration: none !important;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #bfbfbf !important; 
  text-decoration: none;
  cursor: pointer;
}

.navbar-logo {
  height: 45px;
}

.breadcrumb-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  height: 8vh;
}

.offcanvas {
  background-color: #efefef;
}

.offcanvas .nav-link {
  font-size: 1.1rem;
}




/* ---Produtos--- */


/* Filtros */
.form-check-input {
  border-radius: 0px !important;
  border-color: #7a35e8;
}

.form-check-input:checked {
  background-color: #7a35e8;
  border-color: #7a35e8;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: #7a35e8;
}






.novidade-inf {
    background-color: #1c5a9d;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 0px !important;  
    display: inline-block;
}

.promotion-inf {
    background-color: #9d1f1c ;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 0px !important;  
    display: inline-block;
}







.icon {
  width: 40px;   
  height: 40px;
}

#content {
  flex: 1;
}

footer {
  margin-top: auto; 
}


/* container */


.container-home {
  height: 100vh;
  background-color: #efefef;
}

.container-inf {
  min-height: 20vh;
  padding: 2rem 0;  
}



.container-product-section {
  min-height: 75vh;
}

.container-grid {
  height: 25vh;
}

.container-footer {
  background-color: #ffffff;
}


  .contact-link {
    color: #000 !important; 
    text-decoration: none;
    display: block;
    margin-bottom: 0.2rem; 
    transition: color 0.3s;
  }

  .contact-link:hover {
    color: #bfbfbf !important; 
  }




/* carousel */
.carousel-indicators .active {
    background-color: #8c45f7; 
}


.carousel-indicators button:hover {
    background-color: #8c45f7; 
}



/* icon branco */
.white-icon {
  filter: brightness(0) invert(1);
}



.btn-contact {
  border-color: #8c45f7;
  background-color: #ffffff;
  color: #8c45f7;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.btn-contact:hover {
  border-color: transparent;
  background: linear-gradient(135deg, #7a35e8, #954dfc);
  box-shadow: 0 8px 18px rgba(140, 69, 247, 0.45);
  color: #ffffff;
  transform: scale(1.02);
}










.btn-see-details {
  position: absolute;
  bottom: 4%; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(135deg, #8c45f7, #a56dfc);
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 0;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  opacity: 0;
  visibility: hidden;
}

/* Mostra no hover */
.product-see-details:hover .btn-see-details {
  opacity: 1;
  visibility: visible;
}


.product-see-details:hover {
  cursor: pointer;
  transition: filter 0.3s ease;
}







/* ---home--- */

/* carousel */
.btn-buy {
  background: linear-gradient(135deg, #8c45f7, #a56dfc);
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem; 
  padding: 14px 32px; 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  margin-right: 8px;
}

.btn-buy:hover {
  background: linear-gradient(135deg, #7a35e8, #954dfc);
  box-shadow: 0 8px 18px rgba(140, 69, 247, 0.45);
  transform: scale(1.03);
}


.btn-details {
  background-color: #ffffff;
  border-color: #ffffff;
}


.btn-details {
  background: #ffffff;
  border: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem; 
  padding: 14px 32px; 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.btn-details:hover {
  background: linear-gradient(135deg, #8c45f7, #a56dfc);
  box-shadow: 0 8px 18px rgba(140, 69, 247, 0.45);
  transform: scale(1.03);
  color: #ffffff;
}


.input-form {
  border-radius: 0;
  border-color: #eeeeee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input-form:focus {
  outline: none; 
  border-color: #cccccc; 
  box-shadow: rgba(149, 157, 165, 0.3) 0px 4px 12px; 
}


.input-form::placeholder {
    color: #bfbfbf;
}

.circle-maker {
  clip-path: circle(39% at 50% 50%);
}

.icon-footer {
  width: 24px;
  height: 24px;
}




/* container */

.container-nav-section {
  height: 30vh;
}





/* */
.container-nav-details {
  height: 8vh;
}















input[type="range"].custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  border-radius: 10px;
  background: linear-gradient(135deg, #8c45f7, #a56dfc);
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}

/* Track e fundo escuro */
input[type="range"].custom-range::-webkit-slider-runnable-track {
  height: 14px;
  border-radius: 10px;
  background: transparent;
}

input[type="range"].custom-range::-moz-range-track {
  height: 14px;
  border-radius: 10px;
  background: transparent;
}

/* Handle (bolinha) */
input[type="range"].custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  margin-top: -7px;
  transition: box-shadow 0.2s;
}

input[type="range"].custom-range::-webkit-slider-thumb:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

input[type="range"].custom-range::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  border: none;
  transition: box-shadow 0.2s;
}

input[type="range"].custom-range::-moz-range-thumb:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}




/* para as "..." do nome do produto em mobile*/
@media (max-width: 576px) {
  #product-name-nicotine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}








.btn-filter {
  background: linear-gradient(135deg, #8c45f7, #a56dfc);
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 14px 32px; 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  margin-right: 8px;
}



.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}


.btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}