<div class="container-nav-section d-flex background-navbar">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <h4 class="display-1 fw-bold">Carrinho</h4>
  </div>
</div>

<div class="d-flex col-12">

  
  <div class="col-2">
    <!--<h4>imagem</h4>-->
  </div>
  <div class="col-2">
    <h4>Nome</h4>
  </div>
  <div class="col-1">
    <h4>preço</h4>
  </div>
  <div class="col-1">
    <h4>Quantidade</h4>
  </div>
  <div class="col-1">
    <h4>subtotal do produto</h4>
  </div>
  <div class="col-5">
    <h4>envio / total</h4>
  </div>
</div>
<hr class="col-12">