<div class="container-nav-section d-flex background-navbar">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <h4 class="display-1 fw-bold">Carrinho</h4>
  </div>
</div>

<div class="d-md-flex w-100 p-md-4 p-1">
  <!-- Cart Products -->
  <div class="col-md-9 col-12 d-flex flex-column">
    <!-- Header  -->

    <div class="row d-none d-lg-flex">
      <div class="col-5">
        <h4>Item</h4>
      </div>
      <div class="col-2 text-center">
        <h4>Preço</h4>
      </div>
      <div class="col-2 text-center">
        <h4>Quantidade</h4>
      </div>
      <div class="col-2 text-center">
        <h4>Total</h4>
      </div>
      <div class="col-1 text-center">
      </div>
    </div>

    <hr class="mt-0 col-12 mx-auto d-block d-none d-lg-flex">

    <div id="cart-products-content">

    </div>
  </div>

  <!-- Summary -->
  <form id="checkout-form"
    class="col-md-3 col-12 px-md-4 px-3 py-2 needs-validation" novalidate>
    <h1>Sumário</h1>
    <h4 class="fw-normal">Subtotal: <span id="cart-subtotal"
        class="fw-bold">0.00€</span></h4>
    <h4 class="mt-2 fw-normal">Método de Pagamento</h4>
    <div class="form-check my-2">
      <input class="form-check-input payment-check" type="checkbox"
        name="payment" id="checkReferencia">
      <label class="form-check-label" for="checkReferencia">Entidade /
        Referência</label>
    </div>

    <div class="form-check my-2">
      <input class="form-check-input payment-check" type="checkbox"
        name="payment" id="checkPayPal">
      <label class="form-check-label" for="checkPayPal">PayPal</label>
    </div>

    <div class="form-check mt-2 mb-1">
      <input class="form-check-input payment-check" type="checkbox"
        name="payment" id="checkMao">
      <label class="form-check-label" for="checkMao">Em mão</label>
    </div>

    <div class="invalid-feedback d-block" id="payment-error">
      Por favor selecione pelo menos um método de pagamento.
    </div>

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control input-form" id="nome-buy"
        placeholder="Inserir o seu nome..." required>
      <div class="invalid-feedback">
        Por favor insira o seu nome.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control input-form" id="email-buy"
        placeholder="Inserir o seu email..." required>
      <div class="invalid-feedback">
        Por favor insira o seu email.
      </div>
    </div>

    <div class="mb-3">
      <label for="contacto" class="form-label">Contacto</label>
      <input type="text" class="form-control input-form" id="contacto-buy"
        placeholder="Inserir o seu contacto..." required>
      <div class="invalid-feedback">
        Por favor insira o seu número.
      </div>
    </div>

    <div class="mb-3">
      <label for="morada" class="form-label">Morada</label>
      <input type="text" class="form-control input-form" id="morada-buy"
        placeholder="Inserir a sua morada..." required>
      <div class="invalid-feedback">
        Por favor insira a sua morada.
      </div>
    </div>

    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control input-form" id="cidade-buy"
        placeholder="Inserir a sua cidade..." required>
      <div class="invalid-feedback">
        Por favor insira a cidade.
      </div>
    </div>

    <div class="mb-3">
      <label for="codigo-postal" class="form-label">Código postal</label>
      <input type="text" class="form-control input-form" id="codigo-postal-buy"
        placeholder="Inserir o seu código postal..." required>
      <div class="invalid-feedback">
        Por favor insira o seu código postal.
      </div>
    </div>

    <div class="mb-3">
      <label for="codigo-postal" class="form-label">Local de Encontro [
        Porto/Santo Tirso]</label>
      <input type="text" class="form-control input-form" id="local-encontro-buy"
        placeholder="Inserir o local de encontro...">
      <div id="codigo-postal-error" class="form-text text-danger">
        Entraremos em contacto para definir a data do encontro.
      </div>
    </div>

    <button type="button"
      class="mt-2 p-2 btn-buy w-100 btn-sm" id="btn-buy">Confirmar</button>
  </form>
</div>
