<div class="container-nav-section d-flex background-navbar">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <h4 class="display-1 fw-bold">Carrinho</h4>
  </div>
</div>

<!-- https://cdn.prod.website-files.com/605826c62e8de87de744596e/62331f2bb5a6d8a785593909_8AkqmmgGM4Y65j_NwNDXKtfvINDrPAO0Ro_GZMsHYwfrMkGKVBBXeq8uLjkpsonpNzFKkORaMnAQefsbTSAFRV-TRTAWPFWGEabmd_f6IoJeWMUu0qZ1Nq9TAR9NZsbP3oMaiLIy.png -->

<div class="d-flex w-100">
  <!-- Cart Products -->
  <div class="col-9 d-flex flex-column">
    <!-- Header  -->

    <div class="d-flex px-4 py-2">
      <div class="col-6">
        <h4>Item</h4>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <h4>Preço</h4>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <h4>Quantidade</h4>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <h4>Total</h4>
      </div>
    </div>

    <div id="cart-products-content">

    </div>
  </div>

  <!-- Summary -->
  <div class="col-3  px-4 py-2">
    <h4>Sumário</h4>
    <h4>Subtotal: <span id="cart-subtotal">0.00€</span></h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkDefault">
      <label class="form-check-label" for="checkDefault">
        MBWAY
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
      <label class="form-check-label" for="checkChecked">
        Entitade / Referência
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkDefault">
      <label class="form-check-label" for="checkDefault">
        Paypal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkDefault">
      <label class="form-check-label" for="checkDefault">
        Em mão
      </label>
    </div>
    <input class="form-control text-center" type="text"">

    <button type=" button" class="btn btn-dark">Confirmar</button>
  </div>
</div>