<div class="container-nav-section d-flex background-navbar">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <h1 class="display-1 fw-bold">Contactos</h1>
  </div>
</div>

<div class="container d-flex flex-wrap">
  <!-- Bloco 1 -->
  <div class="col-12 col-md-6 d-flex">
    <img src="../assets/images/suns-contacts.jpeg"
         class="img-fluid w-100 h-100 object-fit-cover rounded p-5"
         alt="Contact Image">
  </div>

  <!-- Bloco 2 -->
  <div class="col-12 col-md-6 d-flex mt-5">
    <form class="w-100 p-3">
    <h1 class="mb-4" >Entre em Contacto</h1>
    <div class="border-top border-start border-2 border-dark p-3">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Digite o seu email" required>
        </div>
        <div class="mb-3">
            <label for="contacto" class="form-label">Contacto</label>
            <input type="tel" class="form-control" id="contacto" placeholder="Digite o seu número de contacto" required>
        </div>
        <div class="mb-3">
            <label for="assunto" class="form-label">Assunto</label>
            <input type="text" class="form-control" id="assunto" placeholder="Digite o assunto" required>
        </div>
        <div class="mb-3">
            <label for="mensagem" class="form-label">Mensagem</label>
            <textarea class="form-control" id="mensagem" rows="4" placeholder="Escreva a sua mensagem" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </div>
    </form>
</div>

</div>
