<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a  onclick="goToRoute('/produtos')">Produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">....</li>
  </ol>
</nav>

<div class="container justify-content-center align-items-center d-flex">
    <div class="col-5 d-flex ">
        <img src="/data/img/iceberg-pineapple-mango-coconut.jpg" class="img-fluid">
    </div>

    <div class="col-5">
        <h2>CUBA Cold Dry Strong</h2>
        <hr>
        <p>Preço: 4,99€</p>

        <h5 class="mb-4">Quantidade</h5>
        <div>
            <span class="border border-dark p-3">1 stuk 5,25€ p/s </span>
            <span class="border border-dark p-3">1 stuk 5,25€ p/s </span>
            <span class="border border-dark p-3">Adicionar Nova</span>
        </div>
        <button class="mt-5">Adicionar ao Carrinho</button>
        <hr>
        <h5>Descrição</h5>
        <p>Força: FORTE</p>
        <p>Sabor: WATERMELON ICE</p>
        <p>Nicotina MG: 10G</p>
        <p>Tamanho: SLIM</p>
    </div>
</div>