<div class="container-nav-details d-flex background-navbar">
</div>

<div class="d-flex mt-md-5 ms-md-5 mt-3 ms-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-link">
      <h5 class="breadcrumb-item"><a  onclick="goToRoute('/produtos')">Produtos</a></h5>
      <h5 class="breadcrumb-item active"></h5>
    </ol>
  </nav>
</div>
  
<div  id="product-details-content">
    
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <h2 class="d-flex justify-content-start align-items-center mt-5 mb-3">Outros Produtos</h2>

      <div id="other-product-content" class="row g-3">
      </div>
    </div>
  </div>
</div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
    <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert">
        <div class="d-flex">
            <div class="toast-body" id="errorToastMessage">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>
</div>
