
<!-- Banner Pequeno Rotativo -->
<div id="textBanner" class="w-100 py-2 text-center">
    <div id="textCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <p class="m-0 text-white">🚚 ENVIOS GRÁTIS PARA PORTUGAL CONTINENTAL EM PEDIDOS ACIMA DE 50€!</p>
            </div>

            <div class="carousel-item">
                <p class="m-0 text-white">🤝 QUER TORNAR-SE NOSSO PARCEIRO?</p>
            </div>

        </div>
    </div>
</div>


<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner" id="carousel-content">

      
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
    </button>
</div>





<div
    class="container-inf background-purple d-flex flex-column flex-md-row justify-content-center align-items-center gap-5 text-white">
    <!-- Bloco 1 -->
    <div class="col-md-3 col-10 d-flex block">
        <img src="../assets/icons/like.png" class="icon me-3 white-icon">
        <div class="text-start align-items-center">
            <h5 class="title">Qualidade do Produto</h5>
            <p class="description">Garantimos produtos com os mais altos padrões de qualidade e durabilidade</p>
        </div>
    </div>

    <!-- Bloco 2 -->
    <div class="col-md-3 col-10 d-flex block">
        <img src="../assets/icons/van.png" class="icon me-3 white-icon">
        <div class="text-start align-items-center">
            <h5 class="title">Entrega Rápida</h5>
            <p class="description">Comprometemo-nos com prazos curtos e entregas seguras em todo o país</p>
        </div>
    </div>

    <!-- Bloco 3 -->
    <div class="col-md-3 col-10 d-flex block">
        <img src="../assets/icons/safe.png" class="icon me-3 white-icon">
        <div class="text-start align-items-center">
            <h5 class="title">Confiança e Credibilidade</h5>
            <p class="description">Somos uma empresa, reconhecida pela transparência e compromisso com o cliente</p>
        </div>
    </div>
</div>





<div class="container my-5">
    <div class="row g-4 justify-content-center col-md-10 mx-auto mt-3">

        <!-- Texto principal -->
        <div class="col-md-6 col-12">
            <div class="bento-item bento-tall container-grid p-md-4 p-0 d-flex justify-content-between align-items-center">
                <div>
                    <h2>Nós SNUS PRIME, trabalhamos com diversas marcas</h2>
                </div>
            </div>
        </div>

        <!-- Primeiras 4 imagens (visíveis no mobile) -->
        <div class="col-md-3 col-6">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/pablo-pablo-ice-cold.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Cuba cold dry">
            </div>
        </div>

        <div class="col-md-3 col-6">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/killa-killa-frosted-mint.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Iceberg Pineapple Mango Coconut">
            </div>
        </div>

        <div class="col-md-3 col-6">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/velo-velo-icy-berries-mini.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Killa Energy">
            </div>
        </div>

        <div class="col-md-3 col-6">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/iceberg-iceberg-emerald.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Pablo Mini Ice Cold">
            </div>
        </div>

        <!-- Demais imagens (somem em mobile) -->
        <div class="col-md-3 d-none d-md-block">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/cuba-cuba-blueberry-strong.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Velo Strawberry Ice">
            </div>
        </div>

        <div class="col-md-3 d-none d-md-block">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/klint-klint-alaskan-mint-hyper-strong.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Killa Watermelon">
            </div>
        </div>

        <div class="col-md-3 d-none d-md-block">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/iceberg-iceberg-dragon-fruit.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Velo Icy Berries">
            </div>
        </div>

        <div class="col-md-3 d-none d-md-block">
            <div class="bento-item bento-tall container-grid p-0 overflow-hidden d-flex align-items-center justify-content-center">
                <img src="../data/img/pablo-pablo-exclusive-cherry-cola.webp" class="img-fluid w-100 h-auto object-fit-contain" alt="Killa Frosted Mint">
            </div>
        </div>

        <!-- Aviso -->
        <div class="col-md-6 col-12 d-flex justify-content-between align-items-center">
            <div class="bento-item bento-tall container-grid p-md-4 p-0 d-flex flex-column justify-content-center align-items-start text-start">
                <img src="../assets/icons/more-18.png" class="icon mb-3">
                <div class="text-start">
                    <h5 class="title">
                        Este produto contém nicotina, uma substância altamente viciante.
                        O seu uso é desaconselhado para não fumantes
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>



<div id="bannerCarousel" class="carousel slide mb-5 mt-3" data-bs-ride="carousel">

    <div class="carousel-indicators d-none d-lg-flex">
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-8 col-10">
                    <img src="../assets/images/pablo_banner.png" class="img-fluid ">
                </div>
            </div>

        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-8 col-10">
                    <img src="../assets/images/iceberg_watermelon_lime_banner.png" class="img-fluid ">
                </div>
            </div>

        </div>

    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
    </button>
</div>