<div class="mt-2">
  <div class="d-flex">
    <div class="col-6 px-4 py-2">
      <div class="d-flex">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img id="cart-product-img" src="/assets/images/snus-prime_logo.png" alt="Logo" class="navbar-logo"
            style="height: 50px;">
        </div>
        <div class="col-8 d-flex flex-column justify-content-center px-2">
          <h5><strong id="cart-product-name-nicotine"></strong></h5>
          <div id="cart-product-brand"></div>
          <div id="cart-product-power"></div>
          <div id="cart-product-flavor"></div>
          <div id="cart-product-size"></div>
        </div>
      </div>
    </div>

    <div class="col-2 d-flex align-items-center justify-content-center">
      <span id="cart-product-price" class="fw-bold"></span>
      <span id="cart-product-old-promo-price" class="text-decoration-line-through text-muted"></span>
    </div>

    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center mb-2">
        <button type="button" class="btn btn-primary mx-2">-</button>
        <input class="form-control text-center" style="width: 60px;" type="text" value="1" id="cart-product-qt">
        <button type="button" class="btn btn-secondary mx-2">+</button>
      </div>
      <button type="button" class="btn text-danger p-0">Remover Produto</button>
    </div>

    <div class="col-2 d-flex align-items-center justify-content-center" id="cart-product-total-price">
    </div>
  </div>
</div>