<div class="card border-1">
    <div class="position-relative">
        <span class="badge bg-success position-absolute top-0 start-0 m-2">Novidade</span>
        <img src="/data/img/cuba-cold-dry.jpg" class="card-img-top" alt="Pineapple Mango Coconut">
    </div>
    <div class="card-body text-start">
        <p class="text-uppercase small text-muted mt-0">CUBA</p>
        <h6 class="card-title fw-bold mb-1 mt-2">Cold Dry | 43 Mg</h6>
        <p class="mb-1">
            <span class="fw-bold">5.49€</span>
        </p>
        <select class="form-select form-select mt-2" aria-label="Small select example">
            <option selected>x1 | 5.49€ </option>
            <option value="1">x3 | 16.47€</option>
            <option value="2">x5 | 27.45€</option>
            <option value="3">x10 | 54.9€</option>
        </select>
        <button class="mt-2 p-2 btn-buy w-100">Adicionar</button>
    </div>
</div>