
<div class="container py-md-4 py-0">
    <div class="row justify-content-center align-items-center">

        <!-- Imagem do produto -->
        <div class="col-12 col-md-5 d-flex position-relative mb-4 mb-md-0">
            <span id="details-product-badge" class="badge position-absolute top-0 start-0 m-2 text-white fs-6"></span>
            <img id="details-product-image" class="img-fluid w-100 rounded" alt="Imagem do produto">
        </div>
        
        <!-- Detalhes do produto -->
        <div class="col-12 col-md-5">
            <h2 id="details-product-brand" class="fw-bold mb-3"></h2>

            <!-- Preços -->
            <div class="d-flex flex-wrap align-items-center mb-4">
                <h4 id="details-product-price" class="mb-0 me-2"></h4>
                <span id="details-product-old-promo-price" class="text-decoration-line-through text-muted"></span>
            </div>

            <!-- Quantidade -->
            <h5 class="mb-3">Quantidade</h5>
            <div class="d-flex flex-wrap gap-2">
                <span class="border border-3 border-dark p-3 flex-fill text-center qt-btn-active" id="qt-1" onclick="changeQtWanted(1)"></span>
                <span class="border border-3 border-dark p-3 flex-fill text-center qt-btn-inactive" id="qt-5" onclick="changeQtWanted(2)"></span>
                <span class="border border-3 border-dark p-3 flex-fill text-center qt-btn-inactive" id="qt-other" onclick="changeQtWanted(3)">Outra Quantidade</span>
            </div>

            <div class="row mt-4 gx-2">
                <div class="col-8">
                    <input class="form-control text-center d-none" type="text" value="1" id="qt-other-value">
                </div>
                <div class="col-4">
                    <input class="form-control text-center d-none" type="text" value="1" id="qt-other-value-price" disabled>
                </div>
            </div>

            <!-- Botão -->
            <button class="mt-4 btn-buy w-100 btn-lg mb-4">Adicionar ao Carrinho</button>

            <!-- Informação -->
            <div class="mb-3">
                <h5 class="mb-2">Informação do Produto</h5>
                <p id="details-product-flavor" class="mb-1"></p>
                <p id="details-product-power" class="mb-1"></p>
                <p id="details-product-nicotine-mg" class="mb-1"></p>
                <p id="details-product-size" class="mb-2"></p>
            </div>

            <!-- Descrição -->
            <h5>Descrição</h5>
            <p id="details-product-description"></p>
        </div>

    </div>
</div>
