<div class="card border-0 h-100">
    <div class="position-relative">
        <span id="product-badge" class="badge position-absolute top-0 start-0 m-2 text-white"></span>
        <img id="product-image" src="/data/img/cuba-cold-dry.jpg" class="card-img-top img-fluid">
    </div>
    <div class="card-body text-start p-2">
        <p id="product-brand" class="text-uppercase small text-muted mt-0"></p>
        <h6 id="product-name-nicotine" class="card-title fw-bold mb-1 mt-2"></h6>
        <p class="mb-1">
            <span id="product-price" class="fw-bold"></span>
            <span id="product-old-promo-price" class="text-decoration-line-through text-muted"></span>
        </p>
        <button class="mt-2 p-2 btn-details w-100 btn-sm" id="product-details" onclick="goToProduct(this.dataset.id)">Detalhes</button>
        <button class="mt-2 p-2 btn-buy w-100 btn-sm" id="product-add" onclick="addToCart(this.dataset.id)">Adicionar</button>
    </div>
</div>
